*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}


.navigation-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#4831d4;
    min-height: 10vh;
    font-family: 'Comfortaa', cursive;
}
.logo{
    color:rgb(235, 235, 235);
    font-weight:700;
    letter-spacing: 2px;
    font-size:24px;
}
.nav-bar-list{
    display:flex;
    justify-content: space-around;
    width:500px

}
.nav-bar-list li{
    list-style: none;
}
.nav-bar-links{
    color:rgb(235, 235, 235);
    text-decoration: none;
    letter-spacing: 2px;
    font-size:16px;
}
.nav-bar-links:hover{
    font-weight:700;
    transition: 0.3s ease-in-out;
}
.menu-btn{
    display:none;
    cursor: pointer;
}
.line1{
    width:40px;
    height:2px;
    background-color:#ccf381; 
    margin: 6px;
    transition: 0.3s ease;
    
}
.line2{
    width:25px;
    height:2px;
    background-color:#ccf381; 
    margin: 6px;
    transform: translateX(15px);
    transition: 0.3s ease;

}
.line3{
    width:15px;
    height:2px;
    background-color:#ccf381; 
    margin:6px;
   transform: translateX(25px);
   transition: 0.3s ease;
}
@media screen and (max-width:768px) {
        body{
            overflow-x: hidden;
        }
        .nav-bar-list{
            position: absolute;
             right:0;
             height:90vh;
             top:10vh;
             background-color:#ccf381;
             display:flex;
             flex-direction: column;
             align-items: center;
             width:100%;
             transform: translateX(100%);
            transition:transform 0.5s ease-out;
            }
        .nav-bar-links{
           opacity: 0;
           color:#4831d4;
           font-size:24px;
           
        }
        .nav-bar-links:hover{
            font-weight:900;
            transition: 0.5s ease;
            
         }
        .menu-btn{
            display:block;
        }
        
}
.nav-bar-list-active{
    transform:translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
.animation .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.animation .line2{
    opacity: 0;
}
.animation .line3{
    width:40px;
    transform:translate(0px);
    transform: rotate(45deg) translate(-5px,-6px);
}



